<%= simple_form_for(@discussion) do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-inputs">
  <%= f.input :title %>
</div>

<div class="form-inputs">
  <%= f.rich_text_area :content, input_html: {class: "textarea is-warning"}, wrapper: false, label_html: { class: "label"} %>
</div>

<div class="form-inputs text input text-indigo-darker mt-6">
    <%= f.label :all_tags %>
    <%= f.text_field :all_tags, placeholder: "Tags separated with comma", class: "text-indigo-darker ml-6" %>
</div>

<div class="form-inputs">
  <%= f.label :ref_photo %>
  <%= f.file_field :ref_photo %>
</div>

<div class="form-actions mt-3">
  <%= f.button :submit, class: "button is-danger mt-5" %>
</div>
<% end %>

<script>

document.addEventListener('turbolinks:load', () => {
  //console.log("yoyo");
  $('#discussion_content').froalaEditor();
});
</script>
