<p id="notice"><%= notice %></p>

<div class="container">
<div class="article is-centered ">
  <p>
    <strong>Title:</strong>
    <%= @discussion.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= @discussion.content %>
  </p>

  <% check_ref_photo = @discussion.ref_photo %>
  <% if check_ref_photo.present?  %>
    <%= image_tag @discussion.ref_photo %>
  <% else %>
    <div class="tag is-primary p6">
      <h2 class="subtitle is-3">Photo Needed !!</h2>
    </div>
  <% end %>

  <div class="bg-indigo--dark">
    <h3 class="leading-tight ">
      <b>Related Tags: </b>  <%= @discussion.all_tags %>
    </h3>
  </div>


</div>

</div>

<br>
<br>
<%= link_to "ðŸ‘", discussion_likes_path(@discussion), method: :post %>
<p class="text-2xl text-black"><%= @discussion.likes.count %><%= @discussion.likes.count == 1 ? " Like" : " Likes" %> </p>
<br>
<br>
<%= link_to 'Edit', edit_discussion_path(@discussion) %> |
<%= link_to 'Back', discussions_path %>
