<p id="notice"><%= notice %></p>

<div class="container bg-white">
<div class="article is-centered ">
  <p>
    <strong>Title:</strong>
    <%= @discussion.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= @discussion.content %>
  </p>

  <% check_ref_photo = @discussion.ref_photo %>
  <% if check_ref_photo.present?  %>
    <%= image_tag @discussion.ref_photo %>
  <% else %>
    <div class="tag is-primary p6">
      <h2 class="subtitle is-3">Photo Needed !!</h2>
    </div>
  <% end %>

  <div class="bg-indigo--dark">
    <h3 class="leading-tight ">
      <b>Related Tags: </b>  <%= @discussion.all_tags %>
    </h3>
  </div>


</div>

</div>

<br>
<br>
<%= link_to "ðŸ‘", discussion_likes_path(@discussion), method: :post %>
<p class="text-2xl text-black"><%= @discussion.likes.count %><%= @discussion.likes.count == 1 ? " Like" : " Likes" %> </p>
<br>
<br>
<%= link_to 'Edit', edit_discussion_path(@discussion) %> |
<%= link_to 'Back', discussions_path %>


<!--Comments section-->
<article class="uk-comment bg-white">
    <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
          <div class="uk-comment-avatar">
             <%= gravatar_for @discussion.user.email %>
          </div>
        </div>
        <div class="uk-width-expand">
            <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Author</a></h4>
            <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                <li><a href="#">12 days ago</a></li>
                <li><a href="#">Reply</a></li>
            </ul>
        </div>
    </header>
    <div class="uk-comment-body">
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
</article>
