<!DOCTYPE html>
<html>
  <head>
    <title>🤨😜 Discussions </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_tag 'application','data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <%# <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"> %>
      <!--material icons-->
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--getin uikit-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.xx.x/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.xx.x/js/uikit.min.js"></script>
  </head>

  <body>

  <!--Nav bar start-->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">

            <%= link_to root_path do %>
                    <div class="navbar-item">
                      <h2 class="subtitle is-5 has-text-bold" style="font-family: monospace;">Discussions</h2>
                    </div>
            <% end %>

                <a class="navbar-burger burger"  aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
                </a>
            </div>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
<!--                    <a class="navbar-item is-active">-->
<!--                            Discussions-->
<!--                        </a>-->
                <%= link_to "My Discussions", discussions_path,  class: "navbar-item link text-black" if (user_signed_in?) %>
            <a class="navbar-item">
                <form class="shadow flex" action="/discussions" method="get" accept-charset="UTF-8">
                  <input type="text" name="tag" id="tag" placeholder="search" class="w-full rounded bg-white p-2">
                    <button type="submit" class="bg-white w-auto flex justify-end items-center text-indigo-darker p-2 hover:text-indigo-dark">
                      <i class="material-icons text-xl">search</i>
                    </button>
                </form>
            </a>
                    <a class="navbar-item">
                            Team
                        </a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                                Account
                            </a>
                        <% unless user_signed_in? %>
                            <div class="navbar-dropdown">
                                <a class="navbar-item text-white bg-orange hover:bg-orange-dark" href="/users/sign_in">
                                        Log In
                                    </a>
                                <%# <a class="navbar-item">
                                        Settings
                                    </a> %>
                                        <hr class="navbar-divider">
                                        <div class="navbar-item bg-red text-white hover:bg-red-dark">
                                        <a href="/users/sign_up" class="text-white hover:text-white">Sign Up</a>
                                        </div>
                            <% else %>
                                    <div class="navbar-item bg-red text-white hover:bg-red-dark">
                                    <%= link_to "Log out", destroy_user_session_path, method: :delete, data: {confirm: "Goodbye #{current_user.username} !"}, class: "link text-white" %>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- END NAV -->


    <div class="container rounded p-10">
<!--nav bar-->
  <% if !user_signed_in? %>
    <section class="hero rounded is-secondary shadow-lg is-medium is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">A Blog Purpose Website Build on Vue and Rails. <br></h1>
                <h2 class="subtitle is-4">For Designers and Developers Campire Discussion Forum</h2>
            </div>
        </div>
    </section>

  <% end %>

      <%= yield %>
    </div>

    <!--script for navbar open-->
      <script>
        document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {

        // Add a click event on each of them
        $navbarBurgers.forEach( el => {
          el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          });
        });
      }

    });

      </script>

  </body>

</html>
