<!DOCTYPE html>
<html>
  <head>
    <title>🤨😜 Discussions </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_tag 'application','data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <%# <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"> %>
  </head>

  <body>

  <!--Nav bar start-->
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">

            <%= link_to root_path do %>
                    <div class="navbar-item">
                      <h2 class="subtitle is-5 has-text-bold" style="font-family: monospace;">Discussions</h2>
                    </div>
            <% end %>

                <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
                </span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
<!--                    <a class="navbar-item is-active">-->
<!--                            Discussions-->
<!--                        </a>-->
                            <%= link_to "My Discussions", discussions_path,  class: "navbar-item link text-black" if (user_signed_in?) %>
                    <a class="navbar-item">
                            Features
                        </a>
                    <a class="navbar-item">
                            Team
                        </a>
                    <a class="navbar-item">
                            Archives
                        </a>
                    <a class="navbar-item">
                            Help
                        </a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                                Account
                            </a>
                        <% unless user_signed_in? %>
                            <div class="navbar-dropdown">
                                <a class="navbar-item text-white bg-orange hover:bg-orange-dark" href="/users/sign_in">
                                        Log In
                                    </a>
                                <%# <a class="navbar-item">
                                        Settings
                                    </a> %>
                                        <hr class="navbar-divider">
                                        <div class="navbar-item bg-red text-white hover:bg-red-dark">
                                        <a href="/users/sign_up" class="text-white hover:text-white">Sign Up</a>
                                        </div>
                            <% else %>
                                    <div class="navbar-item bg-red text-white hover:bg-red-dark">
                                    <%= link_to "Log out", destroy_user_session_path, method: :delete, data: {confirm: "Goodbye #{current_user.username} !"}, class: "link text-white" %>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- END NAV -->


    <div class="container rounded p-10">
<!--nav bar-->
  <% if !user_signed_in? %>
    <section class="hero rounded is-secondary shadow-lg is-medium is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">A Blog Purpose Website Build on Vue and Rails. <br></h1>
                <h2 class="subtitle is-4">For Designers and Developers Campire Discussion Forum</h2>
            </div>
        </div>
    </section>

  <% end %>



      <%= yield %>
    </div>
  </body>
</html>
